body
{
    background-image: url("./images/mobile-suit-gundam-hero.jpg");
    background-color: rgb(11, 11, 69);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a 
{
    color: inherit;
    text-decoration: inherit;
}

.main
{
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.header-conf
{
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.dialogue
{
    font-size: 16px;
    font-style: italic;
}

.page 
{
    color: black;
    margin-top: 12px;
    position: relative;
    --fixed-table-header-offset: 0;
}

.page .page__main 
{
    height: 100%;
}

.page-main
{
    background-color: black;
    border-radius: 3px;
    min-height: 480px;
    padding: 24px 36px;
    position: relative;
    color: white;
    max-width: 700px;
}

.center
{
    text-align: center;
    
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.btn
{
    text-decoration: none;
    padding: 0.15rem;
    border: 1px solid #333333;
}

h1
{
    font-size: 40px;
}